@font-face {
    font-family: 'optika';
    src: url('/public/fonts/optika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'optika';
    src: url('/public/fonts/optika-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'optika';
    src: url('/public/fonts/optika-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'optika', sans-serif, inter;
    font-weight: normal;
}

body {
     display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}